In [2]:
import pandas as pd
import numpy as np
import sqlite3 as sq
from google.colab import drive
drive.mount('/content/gdrive')
from matplotlib import pyplot as plt

plt.style.use('fivethirtyeight')

%matplotlib inline

In [5]:
conn = sq.connect('./InternetSpeed.db')
cur = conn.cursor()

query = 'SELECT * FROM average_speed'

df = pd.read_sql(query, conn)
df.drop('index', axis = 1, inplace = True)
df

          Area  Average_p  Average_u  Average_d
0    E07000188   8.451897  21.114114  51.967713
1    E07000101   8.317833  20.733028  51.709226
2    E09000030   8.983481  22.469438  54.412001
3    E09000031   8.956481  22.353593  55.138017
4    E09000032   9.144285  22.859003  55.962499
..         ...        ...        ...        ...
321  E07000086   8.485722  21.297273  51.813241
322  E07000085   8.429606  21.094499  51.908544
323  E07000084   8.609286  21.735385  53.274506
324  E06000024   8.736193  21.762500  54.099835
325  E07000100   8.547497  21.439543  52.460252

[326 rows x 4 columns]

In [7]:
la_json = pd.read_json('./LA_poligons.json')

la_json

       LA_code                                           geometry
0    E06000001  {u'type': u'MultiPolygon', u'coordinates': [[[...
1    E06000002  {u'type': u'MultiPolygon', u'coordinates': [[[...
2    E06000003  {u'type': u'MultiPolygon', u'coordinates': [[[...
3    E06000004  {u'type': u'MultiPolygon', u'coordinates': [[[...
4    E06000005  {u'type': u'Polygon', u'coordinates': [[[-1.63...
..         ...                                                ...
375  W06000020  {u'type': u'Polygon', u'coordinates': [[[-3.10...
376  W06000021  {u'type': u'MultiPolygon', u'coordinates': [[[...
377  W06000022  {u'type': u'MultiPolygon', u'coordinates': [[[...
378  W06000023  {u'type': u'Polygon', u'coordinates': [[[-3.15...
379  W06000024  {u'type': u'Polygon', u'coordinates': [[[-3.40...

[380 rows x 2 columns]

In [11]:
columns={'Area','Average_p'}

dfp = df[columns]
dfp = dfp.rename(columns ={'Area':'LA_code'})
dfp

<ipython-input-11-ad2ee7125dde>:3: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  dfp = df[columns]

       LA_code  Average_p
0    E07000188   8.451897
1    E07000101   8.317833
2    E09000030   8.983481
3    E09000031   8.956481
4    E09000032   9.144285
..         ...        ...
321  E07000086   8.485722
322  E07000085   8.429606
323  E07000084   8.609286
324  E06000024   8.736193
325  E07000100   8.547497

[326 rows x 2 columns]

In [13]:
print(dfp.Average_p.min())
print(dfp.Average_p.max())

0.0
11.999447541819524

In [ ]:
mymap = folium_utils.folium_top_x_preds_mapper(dfp,la_json,)